.animal {
    background-color: #fafafa;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px 35px;
    max-width: 270px;
    margin: 0 auto;

    @include trs;

    &:hover {
        box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
        
    }

    &__img {
        padding-bottom: calc(100% + 30px);
        position: relative;
        margin: 0 -15px 21px;

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
    }

    

    &__name {
        display: block;
        padding-bottom: 15px;
        font-size: 20px;
        margin-bottom: auto;
    }

    &__btn {
        max-width: 190px;
        margin: 0 auto;
        width: 100%;
    }

}