        @@include("../blocks/modules/head/head.html",{
            "title": "Cozy House"
        })

        <div class="wrapper">
            @@include("../blocks/modules/heading/heading.html")
            @@include("../blocks/modules/about/about.html")
            @@include("../blocks/modules/our-friends/our-friends.html")
            @@include("../blocks/modules/help/help.html")
            @@include("../blocks/modules/donation/donation.html")
            @@include("../blocks/modules/footer/footer.html")
        </div>

        @@include("../blocks/modules/modal/modal.html", {
            "id": "katrine",
            "name": "Katrine",
            "img": "./img/pic/cat.jpg",
            "type": "Russian blue cat",
            "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
            "age": "2 months",
            "inoculations" : "none",
            "diseases": "none",
            "parasites": "none"
        })

        @@include("../blocks/modules/modal/modal.html", {
            "id": "jennifer",
            "name": "Jennifer",
            "img": "./img/pic/dog_1.jpg",
            "type": "Pooch + Labrador",
            "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
            "age": "2 months",
            "inoculations" : "none",
            "diseases": "none",
            "parasites": "none"
        })

        @@include("../blocks/modules/modal/modal.html", {
            "id": "woody",
            "name": "Woody",
            "img": "./img/pic/dog_2.jpg",
            "type": "Labrador",
            "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
            "age": "2 months",
            "inoculations" : "none",
            "diseases": "none",
            "parasites": "none"
        })
        
        @@include("../blocks/modules/foot/foot.html")
