@@include("../blocks/modules/head/head.html",{
    "title": "Cozy House - Pets"
})

<div class="wrapper">
    @@include("../blocks/modules/header/header.html",{
        "className": "header--white-bg"
    })
    @@include("../blocks/modules/pets/pets.html")
    
    @@include("../blocks/modules/footer/footer.html")
</div>

@@include("../blocks/modules/modal/modal.html", {
    "id": "katrine",
    "name": "Katrine",
    "img": "./img/pic/cat.jpg",
    "type": "Russian blue cat",
    "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
    "age": "2 months",
    "inoculations" : "none",
    "diseases": "none",
    "parasites": "none"
})

@@include("../blocks/modules/modal/modal.html", {
    "id": "jennifer",
    "name": "Jennifer",
    "img": "./img/pic/dog_1.jpg",
    "type": "Pooch + Labrador",
    "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
    "age": "2 months",
    "inoculations" : "none",
    "diseases": "none",
    "parasites": "none"
})

@@include("../blocks/modules/modal/modal.html", {
    "id": "woody",
    "name": "Woody",
    "img": "./img/pic/dog_2.jpg",
    "type": "Labrador",
    "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
    "age": "2 months",
    "inoculations" : "none",
    "diseases": "none",
    "parasites": "none"
})

@@include("../blocks/modules/modal/modal.html", {
    "id": "sophia",
    "name": "Sophia",
    "img": "./img/pic/sop.jpg",
    "type": "Lapdog",
    "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
    "age": "2 months",
    "inoculations" : "none",
    "diseases": "none",
    "parasites": "none"
})

@@include("../blocks/modules/modal/modal.html", {
    "id": "timmy",
    "name": "Timmy",
    "img": "./img/pic/tim.jpg",
    "type": "British shorthair persian cat",
    "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
    "age": "2 months",
    "inoculations" : "none",
    "diseases": "none",
    "parasites": "none"
})

@@include("../blocks/modules/modal/modal.html", {
    "id": "charly",
    "name": "Charly",
    "img": "./img/pic/char.jpg",
    "type": "Mongrel dog",
    "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
    "age": "2 months",
    "inoculations" : "none",
    "diseases": "none",
    "parasites": "none"
})

@@include("../blocks/modules/modal/modal.html", {
    "id": "scarlett",
    "name": "Scarlett",
    "img": "./img/pic/skar.jpg",
    "type": "Jack Russell",
    "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
    "age": "2 months",
    "inoculations" : "none",
    "diseases": "none",
    "parasites": "none"
})

@@include("../blocks/modules/modal/modal.html", {
    "id": "freddie",
    "name": "Freddie",
    "img": "./img/pic/fre.jpg",
    "type": "Norwegian forest cat",
    "descr": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur blandit condimentum. Proin accumsan lorem vel gra vida fringilla. Suspendisse potenti. Mauris ut pulvinar nunc. Donec consectetur, diam in porta tempus, urna ligula ves tibulum nibh.",
    "age": "2 months",
    "inoculations" : "none",
    "diseases": "none",
    "parasites": "none"
})

@@include("../blocks/modules/foot/foot.html")



